<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>

    <div class="header-area"  th:fragment="header">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid ">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-2">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="../assets/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a [routerLink]="['/']">home</a></li>
                                        <li *ngIf="role == 'ROLE_PROFESSIONAL'"><a [routerLink]="['businessManagment']">highlight your business</a></li>
                                        <li *ngIf="role == 'ROLE_USER'"><a [routerLink]="['businessManagment']">edit your informations</a></li>
                                        <li><a href="about.html">about</a></li>
                                        <li><a [routerLink]="['/sign-up']">sign-up</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <ng-container *ngIf="loggedOut === true; then first else second"></ng-container>
                            <ng-template #first>
                                <div class="Appointment" >
                                    <div class="book_btn d-none d-lg-block">
                                        <a [routerLink]="['/sign-in']">Sign In</a>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template #second>
                                <div class="Appointment" >
                                    <div class="book_btn d-none d-lg-block">
                                        <a (click)="signOut()">Sign Out</a>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>
